@import '../../../node_modules/reset-css/sass/_reset';

html {
    font-family: 'Ubuntu', sans-serif;
    background: $gray-ligthten;
}

a {
    @include transition(all, .5s);
}

section {
    width: 100%;
    height: auto;
    display: block;
}


