@font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    src: url(../components/fonts/Montserrat-Light.ttf);
  }

  @font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 300;
    src: url(../components/fonts/Montserrat-LightItalic.ttf);
  }

  @font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url(../components/fonts/Montserrat-Regular.ttf);
  }

  @font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url(../components/fonts/Montserrat-Medium.ttf);
  }

  @font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    src: url(../components/fonts/Montserrat-MediumItalic.ttf);
  }

  @font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    src: url(../components/fonts/Montserrat-SemiBold.ttf);
  }

  @font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    src: url(../components/fonts/Montserrat-SemiBoldItalic.ttf);
  }

  @font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url(../components/fonts/Montserrat-Bold.ttf);
  }

  @font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 700;
    src: url(../components/fonts/Montserrat-SemiBold.ttf);
  }
  
  @font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    src: url(../components/fonts/Montserrat-ExtraBold.ttf);
  }

  @font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 800;
    src: url(../components/fonts/Montserrat-ExtraBoldItalic.ttf);
  }

  @font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    src: url(../components/fonts/Montserrat-Black.ttf);
  }

  @font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 900;
    src: url(../components/fonts/Montserrat-BlackItalic.ttf);
  }

  @font-face {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    src: url(../components/fonts/Ubuntu-Light.ttf);
  }
  
  @font-face {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-weight: 300;
    src: url(../components/fonts/Ubuntu-LightItalic.ttf);
  }

  @font-face {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url(../components/fonts/Ubuntu-Regular.ttf);
  }
  
  @font-face {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-weight: 400;
    src: url(../components/fonts/Ubuntu-Italic.ttf);
  }

  @font-face {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url(../components/fonts/Ubuntu-Medium.ttf);
  }
  
  @font-face {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-weight: 500;
    src: url(../components/fonts/Ubuntu-MediumItalic.ttf);
  }

  @font-face {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url(../components/fonts/Ubuntu-Bold.ttf);
  }
  
  @font-face {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-weight: 700; 
    src: url(../components/fonts/Ubuntu-BoldItalic.ttf);
  } 