$gray:          #333333;
$gray-ligthten: #f2f2f2;
$gray-200:      #dddddd;
$gray-300:      #d7d7d7;
$gray-400:      #cbcbcb;
$gray-500:      #555555;
$gray-600:      #777777;

$cian:          #45bace;
$dark-blue:     #0b296c;
$white:         #ffffff;


